<a href="https://colab.research.google.com/github/Sameer-Ahmed7/Deep_learning_Practice/blob/TitanicML/TitanicMachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#!pip install tensorflow --upgrade

In [0]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
tf.__version__

'2.1.0'

# Prepared Test data

In [0]:
dfTest = pd.read_csv("test.csv")

In [0]:
dfTest.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [0]:
dfTest.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [0]:
dfTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [0]:
dfTest.Age

0      34.5
1      47.0
2      62.0
3      27.0
4      22.0
       ...
413     NaN
414    39.0
415    38.5
416     NaN
417     NaN
Name: Age, Length: 418, dtype: float64

In [0]:
AgeMeanTest = dfTest.Age.mean()

In [0]:
AgeMeanTest

30.272590361445783

In [0]:
dfTest.Age.fillna(AgeMeanTest,inplace=True)

In [0]:
dfTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [0]:
dfTest.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [0]:
dfTest.drop(["PassengerId","Pclass","Name","SibSp","Parch","Ticket","Fare","Cabin","Embarked"],axis=1,inplace=True)

In [0]:
dfTest.head()

      Sex   Age
0    male  34.5
1  female  47.0
2    male  62.0
3    male  27.0
4  female  22.0

In [0]:
dfTest.Age = dfTest.Age.astype("int64")

In [0]:
dfTest.head()

      Sex  Age
0    male   34
1  female   47
2    male   62
3    male   27
4  female   22

In [0]:
df1 = pd.get_dummies(dfTest.Sex)

In [0]:
df1

     female  male
0         0     1
1         1     0
2         0     1
3         0     1
4         1     0
..      ...   ...
413       0     1
414       1     0
415       0     1
416       0     1
417       0     1

[418 rows x 2 columns]

In [0]:
test_x = pd.concat([dfTest,df1],axis=1)

In [0]:
test_x.head(2)

      Sex  Age  female  male
0    male   34       0     1
1  female   47       1     0

In [0]:
test_x.drop(['Sex'],axis=1,inplace=True)

In [0]:
test_x.head(2)

   Age  female  male
0   34       0     1
1   47       1     0

In [0]:
test_x = test_x.values

In [0]:
test_x

array([[34,  0,  1],
       [47,  1,  0],
       [62,  0,  1],
       ...,
       [38,  0,  1],
       [30,  0,  1],
       [30,  0,  1]])

# Prepare Train Data Set

In [0]:
dfTrain = pd.read_csv("train.csv")

In [0]:
dfTrain.shape

(891, 12)

In [0]:
dfTrain.head(2)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C

[2 rows x 12 columns]

In [0]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [0]:
dfTrain.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [0]:
meanTrain = dfTrain.Age.mean()

In [0]:
dfTrain.Age.fillna(meanTrain,inplace=True)

In [0]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [0]:
dfTrain.drop(["PassengerId","Pclass","Name","SibSp","Parch","Ticket","Fare","Cabin","Embarked"],axis=1,inplace=True)

In [0]:
dfTrain.head()

   Survived     Sex   Age
0         0    male  22.0
1         1  female  38.0
2         1  female  26.0
3         1  female  35.0
4         0    male  35.0

In [0]:
dfTrain.shape

(891, 3)

In [0]:
dfTrain.Age = dfTrain.Age.astype("int64")

In [0]:
dfTrain.dtypes

Survived     int64
Sex         object
Age          int64
dtype: object

In [0]:
df3 = dfTrain.iloc[:,1:]

In [0]:
df4 = pd.get_dummies(df3.Sex)

In [0]:
train_x = pd.concat([df3,df4],axis=1)

In [0]:
train_x.drop(["Sex"],axis=1,inplace=True)

In [0]:
train_x.head(2)

   Age  female  male
0   22       0     1
1   38       1     0

In [0]:
train_x = train_x.values

In [0]:
train_x

array([[22,  0,  1],
       [38,  1,  0],
       [26,  1,  0],
       ...,
       [29,  1,  0],
       [26,  0,  1],
       [32,  0,  1]])

In [0]:
train_y = dfTrain.iloc[:,0]

In [0]:
train_y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [0]:
train_x.shape,train_y.shape

((891, 3), (891,))

In [0]:
test_x.shape

(418, 3)

# Create Model

In [0]:
from tensorflow.keras import models
from tensorflow.keras import layers

In [0]:
def build_model():
  model = models.Sequential()
  model.add(layers.Dense(100,input_dim = 3,activation="relu"))
  model.add(layers.Dense(1,activation="sigmoid"))
  model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])
  return model

In [0]:
model = build_model()

In [0]:
model

In [0]:
print(type(train_x))

<class 'numpy.ndarray'>

In [0]:
train_x = train_x.astype("int64")

In [0]:
train_y = np.asarray(train_y)

In [0]:
train_y = train_y.astype("int64")

In [0]:
print(type(train_y))

<class 'numpy.ndarray'>

In [0]:
train_x,train_y

(array([[22,  0,  1],
        [38,  1,  0],
        [26,  1,  0],
        ...,
        [29,  1,  0],
        [26,  0,  1],
        [32,  0,  1]]),
 array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
        1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
        0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
        1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
        0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
        1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
        0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
        1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
        0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
        0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
        1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
        0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
        1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
        1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
        0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
        0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
        0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
        1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
        0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
        0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
        1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0]))

In [0]:
'''from tensorflow.keras.utils import to_categorical
train_y = to_categorical(train_y)'''

'from tensorflow.keras.utils import to_categorical\ntrain_y = to_categorical(train_y)'

In [0]:
print(train_y)

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1
 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0
 0 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 1 0]

In [0]:
train_y.shape

(891,)

In [0]:
#train_y.reshape(1,891)

# K-Fold Method

In [0]:
'''from keras.utils import to_categorical
df5 = to_categorical(train_x[:,0])'''

'from keras.utils import to_categorical\ndf5 = to_categorical(train_x[:,0])'

In [0]:
'''df5 = df5.astype('int64')'''

"df5 = df5.astype('int64')"

In [0]:
#df5

In [0]:
#df6 = train_x[:,0]

In [0]:
model.fit(train_x , train_y,epochs=200,batch_size=10)

Train on 891 samples
Epoch 1/200
891/891 [==============================] - 1s 566us/sample - loss: 0.6421 - accuracy: 0.6431
Epoch 2/200
891/891 [==============================] - 0s 195us/sample - loss: 0.5718 - accuracy: 0.7441
Epoch 3/200
891/891 [==============================] - 0s 201us/sample - loss: 0.5420 - accuracy: 0.7632
Epoch 4/200
891/891 [==============================] - 0s 215us/sample - loss: 0.5174 - accuracy: 0.7901
Epoch 5/200
891/891 [==============================] - 0s 198us/sample - loss: 0.5184 - accuracy: 0.7868
Epoch 6/200
891/891 [==============================] - 0s 193us/sample - loss: 0.5150 - accuracy: 0.7912
Epoch 7/200
891/891 [==============================] - 0s 196us/sample - loss: 0.5048 - accuracy: 0.7912
Epoch 8/200
891/891 [==============================] - 0s 208us/sample - loss: 0.5053 - accuracy: 0.7935
Epoch 9/200
891/891 [==============================] - 0s 200us/sample - loss: 0.5096 - accuracy: 0.7924
Epoch 10/200
891/891 [==============================] - 0s 203us/sample - loss: 0.5080 - accuracy: 0.7912
Epoch 11/200
891/891 [==============================] - 0s 191us/sample - loss: 0.5343 - accuracy: 0.7767
Epoch 12/200
891/891 [==============================] - 0s 200us/sample - loss: 0.5015 - accuracy: 0.7901
Epoch 13/200
891/891 [==============================] - 0s 202us/sample - loss: 0.5123 - accuracy: 0.7890
Epoch 14/200
891/891 [==============================] - 0s 198us/sample - loss: 0.5020 - accuracy: 0.7901
Epoch 15/200
891/891 [==============================] - 0s 205us/sample - loss: 0.5137 - accuracy: 0.7912
Epoch 16/200
891/891 [==============================] - 0s 204us/sample - loss: 0.5054 - accuracy: 0.7879
Epoch 17/200
891/891 [==============================] - 0s 205us/sample - loss: 0.5106 - accuracy: 0.7924
Epoch 18/200
891/891 [==============================] - 0s 206us/sample - loss: 0.5081 - accuracy: 0.7912
Epoch 19/200
891/891 [==============================] - 0s 222us/sample - loss: 0.4996 - accuracy: 0.7912
Epoch 20/200
891/891 [==============================] - 0s 217us/sample - loss: 0.5080 - accuracy: 0.7912
Epoch 21/200
891/891 [==============================] - 0s 220us/sample - loss: 0.5089 - accuracy: 0.7868
Epoch 22/200
891/891 [==============================] - 0s 197us/sample - loss: 0.5020 - accuracy: 0.7890
Epoch 23/200
891/891 [==============================] - 0s 206us/sample - loss: 0.5126 - accuracy: 0.7868
Epoch 24/200
891/891 [==============================] - 0s 200us/sample - loss: 0.5000 - accuracy: 0.7935
Epoch 25/200
891/891 [==============================] - 0s 201us/sample - loss: 0.5125 - accuracy: 0.7890
Epoch 26/200
891/891 [==============================] - 0s 197us/sample - loss: 0.5039 - accuracy: 0.7912
Epoch 27/200
891/891 [==============================] - 0s 202us/sample - loss: 0.5028 - accuracy: 0.7935
Epoch 28/200
891/891 [==============================] - 0s 196us/sample - loss: 0.5131 - accuracy: 0.7946
Epoch 29/200
891/891 [==============================] - 0s 198us/sample - loss: 0.5097 - accuracy: 0.7890
Epoch 30/200
891/891 [==============================] - 0s 214us/sample - loss: 0.5081 - accuracy: 0.7946
Epoch 31/200
891/891 [==============================] - 0s 194us/sample - loss: 0.5084 - accuracy: 0.7879
Epoch 32/200
891/891 [==============================] - 0s 189us/sample - loss: 0.5040 - accuracy: 0.7912
Epoch 33/200
891/891 [==============================] - 0s 197us/sample - loss: 0.5018 - accuracy: 0.7912
Epoch 34/200
891/891 [==============================] - 0s 192us/sample - loss: 0.5001 - accuracy: 0.7946
Epoch 35/200
891/891 [==============================] - 0s 194us/sample - loss: 0.5065 - accuracy: 0.7868
Epoch 36/200
891/891 [==============================] - 0s 198us/sample - loss: 0.5029 - accuracy: 0.7957
Epoch 37/200
891/891 [==============================] - 0s 196us/sample - loss: 0.5046 - accuracy: 0.7924
Epoch 38/200
891/891 [==============================] - 0s 200us/sample - loss: 0.5027 - accuracy: 0.7924
Epoch 39/200
891/891 [==============================] - 0s 209us/sample - loss: 0.5076 - accuracy: 0.7912
Epoch 40/200
891/891 [==============================] - 0s 197us/sample - loss: 0.5029 - accuracy: 0.7946
Epoch 41/200
891/891 [==============================] - 0s 208us/sample - loss: 0.5072 - accuracy: 0.7901
Epoch 42/200
891/891 [==============================] - 0s 197us/sample - loss: 0.5034 - accuracy: 0.7946
Epoch 43/200
891/891 [==============================] - 0s 192us/sample - loss: 0.5123 - accuracy: 0.7957
Epoch 44/200
891/891 [==============================] - 0s 199us/sample - loss: 0.4991 - accuracy: 0.7969
Epoch 45/200
891/891 [==============================] - 0s 232us/sample - loss: 0.5067 - accuracy: 0.7946
Epoch 46/200
891/891 [==============================] - 0s 214us/sample - loss: 0.4964 - accuracy: 0.7957
Epoch 47/200
891/891 [==============================] - 0s 205us/sample - loss: 0.5048 - accuracy: 0.7912
Epoch 48/200
891/891 [==============================] - 0s 200us/sample - loss: 0.5063 - accuracy: 0.7946
Epoch 49/200
891/891 [==============================] - 0s 212us/sample - loss: 0.5003 - accuracy: 0.7957
Epoch 50/200
891/891 [==============================] - 0s 223us/sample - loss: 0.5087 - accuracy: 0.7890
Epoch 51/200
891/891 [==============================] - 0s 205us/sample - loss: 0.5063 - accuracy: 0.7924
Epoch 52/200
891/891 [==============================] - 0s 199us/sample - loss: 0.5061 - accuracy: 0.7946
Epoch 53/200
891/891 [==============================] - 0s 201us/sample - loss: 0.5052 - accuracy: 0.7957
Epoch 54/200
891/891 [==============================] - 0s 221us/sample - loss: 0.5053 - accuracy: 0.7912
Epoch 55/200
891/891 [==============================] - 0s 208us/sample - loss: 0.4987 - accuracy: 0.7935
Epoch 56/200
891/891 [==============================] - 0s 201us/sample - loss: 0.4970 - accuracy: 0.7969
Epoch 57/200
891/891 [==============================] - 0s 199us/sample - loss: 0.5029 - accuracy: 0.7957
Epoch 58/200
891/891 [==============================] - 0s 203us/sample - loss: 0.5013 - accuracy: 0.7946
Epoch 59/200
891/891 [==============================] - 0s 183us/sample - loss: 0.4976 - accuracy: 0.7935
Epoch 60/200
891/891 [==============================] - 0s 173us/sample - loss: 0.4994 - accuracy: 0.7935
Epoch 61/200
891/891 [==============================] - 0s 186us/sample - loss: 0.5009 - accuracy: 0.7946
Epoch 62/200
891/891 [==============================] - 0s 199us/sample - loss: 0.5053 - accuracy: 0.7957
Epoch 63/200
891/891 [==============================] - 0s 206us/sample - loss: 0.4988 - accuracy: 0.7901
Epoch 64/200
891/891 [==============================] - 0s 198us/sample - loss: 0.4986 - accuracy: 0.7935
Epoch 65/200
891/891 [==============================] - 0s 191us/sample - loss: 0.4989 - accuracy: 0.7957
Epoch 66/200
891/891 [==============================] - 0s 199us/sample - loss: 0.5031 - accuracy: 0.7969
Epoch 67/200
891/891 [==============================] - 0s 201us/sample - loss: 0.5042 - accuracy: 0.7924
Epoch 68/200
891/891 [==============================] - 0s 197us/sample - loss: 0.5052 - accuracy: 0.7946
Epoch 69/200
891/891 [==============================] - 0s 192us/sample - loss: 0.4971 - accuracy: 0.7946
Epoch 70/200
891/891 [==============================] - 0s 213us/sample - loss: 0.5167 - accuracy: 0.7901
Epoch 71/200
891/891 [==============================] - 0s 208us/sample - loss: 0.5311 - accuracy: 0.7834
Epoch 72/200
891/891 [==============================] - 0s 200us/sample - loss: 0.5054 - accuracy: 0.7935
Epoch 73/200
891/891 [==============================] - 0s 203us/sample - loss: 0.5027 - accuracy: 0.7935
Epoch 74/200
891/891 [==============================] - 0s 207us/sample - loss: 0.4963 - accuracy: 0.7957
Epoch 75/200
891/891 [==============================] - 0s 201us/sample - loss: 0.5006 - accuracy: 0.7957
Epoch 76/200
891/891 [==============================] - 0s 215us/sample - loss: 0.4968 - accuracy: 0.7957
Epoch 77/200
891/891 [==============================] - 0s 208us/sample - loss: 0.4918 - accuracy: 0.7924
Epoch 78/200
891/891 [==============================] - 0s 201us/sample - loss: 0.4951 - accuracy: 0.7957
Epoch 79/200
891/891 [==============================] - 0s 200us/sample - loss: 0.5007 - accuracy: 0.7946
Epoch 80/200
891/891 [==============================] - 0s 230us/sample - loss: 0.5083 - accuracy: 0.7946
Epoch 81/200
891/891 [==============================] - 0s 199us/sample - loss: 0.5053 - accuracy: 0.7924
Epoch 82/200
891/891 [==============================] - 0s 206us/sample - loss: 0.5024 - accuracy: 0.7969
Epoch 83/200
891/891 [==============================] - 0s 207us/sample - loss: 0.4973 - accuracy: 0.7912
Epoch 84/200
891/891 [==============================] - 0s 195us/sample - loss: 0.5020 - accuracy: 0.7980
Epoch 85/200
891/891 [==============================] - 0s 202us/sample - loss: 0.4956 - accuracy: 0.7935
Epoch 86/200
891/891 [==============================] - 0s 196us/sample - loss: 0.4997 - accuracy: 0.7991
Epoch 87/200
891/891 [==============================] - 0s 204us/sample - loss: 0.4988 - accuracy: 0.7924
Epoch 88/200
891/891 [==============================] - 0s 216us/sample - loss: 0.5064 - accuracy: 0.7980
Epoch 89/200
891/891 [==============================] - 0s 197us/sample - loss: 0.4956 - accuracy: 0.7935
Epoch 90/200
891/891 [==============================] - 0s 221us/sample - loss: 0.4953 - accuracy: 0.7969
Epoch 91/200
891/891 [==============================] - 0s 226us/sample - loss: 0.4968 - accuracy: 0.7957
Epoch 92/200
891/891 [==============================] - 0s 218us/sample - loss: 0.4984 - accuracy: 0.7980
Epoch 93/200
891/891 [==============================] - 0s 213us/sample - loss: 0.5020 - accuracy: 0.7957
Epoch 94/200
891/891 [==============================] - 0s 220us/sample - loss: 0.4957 - accuracy: 0.7969
Epoch 95/200
891/891 [==============================] - 0s 211us/sample - loss: 0.5079 - accuracy: 0.7901
Epoch 96/200
891/891 [==============================] - 0s 208us/sample - loss: 0.5054 - accuracy: 0.7924
Epoch 97/200
891/891 [==============================] - 0s 207us/sample - loss: 0.4977 - accuracy: 0.7980
Epoch 98/200
891/891 [==============================] - 0s 204us/sample - loss: 0.5021 - accuracy: 0.7991
Epoch 99/200
891/891 [==============================] - 0s 214us/sample - loss: 0.4957 - accuracy: 0.7969
Epoch 100/200
891/891 [==============================] - 0s 208us/sample - loss: 0.5004 - accuracy: 0.7946
Epoch 101/200
891/891 [==============================] - 0s 210us/sample - loss: 0.4945 - accuracy: 0.7969
Epoch 102/200
891/891 [==============================] - 0s 202us/sample - loss: 0.5032 - accuracy: 0.7957
Epoch 103/200
891/891 [==============================] - 0s 208us/sample - loss: 0.5043 - accuracy: 0.7991
Epoch 104/200
891/891 [==============================] - 0s 196us/sample - loss: 0.5014 - accuracy: 0.7980
Epoch 105/200
891/891 [==============================] - 0s 191us/sample - loss: 0.4984 - accuracy: 0.7980
Epoch 106/200
891/891 [==============================] - 0s 202us/sample - loss: 0.5032 - accuracy: 0.7946
Epoch 107/200
891/891 [==============================] - 0s 202us/sample - loss: 0.4981 - accuracy: 0.7980
Epoch 108/200
891/891 [==============================] - 0s 189us/sample - loss: 0.5014 - accuracy: 0.7980
Epoch 109/200
891/891 [==============================] - 0s 197us/sample - loss: 0.4994 - accuracy: 0.7969
Epoch 110/200
891/891 [==============================] - 0s 209us/sample - loss: 0.4981 - accuracy: 0.7946
Epoch 111/200
891/891 [==============================] - 0s 181us/sample - loss: 0.4949 - accuracy: 0.7980
Epoch 112/200
891/891 [==============================] - 0s 197us/sample - loss: 0.4994 - accuracy: 0.7969
Epoch 113/200
891/891 [==============================] - 0s 182us/sample - loss: 0.4940 - accuracy: 0.7935
Epoch 114/200
891/891 [==============================] - 0s 181us/sample - loss: 0.5051 - accuracy: 0.7935
Epoch 115/200
891/891 [==============================] - 0s 197us/sample - loss: 0.4956 - accuracy: 0.7969
Epoch 116/200
891/891 [==============================] - 0s 189us/sample - loss: 0.5013 - accuracy: 0.7980
Epoch 117/200
891/891 [==============================] - 0s 218us/sample - loss: 0.4938 - accuracy: 0.7980
Epoch 118/200
891/891 [==============================] - 0s 209us/sample - loss: 0.5054 - accuracy: 0.7957
Epoch 119/200
891/891 [==============================] - 0s 198us/sample - loss: 0.5058 - accuracy: 0.7946
Epoch 120/200
891/891 [==============================] - 0s 217us/sample - loss: 0.5061 - accuracy: 0.7924
Epoch 121/200
891/891 [==============================] - 0s 216us/sample - loss: 0.4971 - accuracy: 0.7969
Epoch 122/200
891/891 [==============================] - 0s 208us/sample - loss: 0.5040 - accuracy: 0.7980
Epoch 123/200
891/891 [==============================] - 0s 232us/sample - loss: 0.4972 - accuracy: 0.7980
Epoch 124/200
891/891 [==============================] - 0s 210us/sample - loss: 0.4992 - accuracy: 0.7957
Epoch 125/200
891/891 [==============================] - 0s 218us/sample - loss: 0.4979 - accuracy: 0.7980
Epoch 126/200
891/891 [==============================] - 0s 226us/sample - loss: 0.5062 - accuracy: 0.7980
Epoch 127/200
891/891 [==============================] - 0s 239us/sample - loss: 0.5054 - accuracy: 0.7935
Epoch 128/200
891/891 [==============================] - 0s 227us/sample - loss: 0.5049 - accuracy: 0.7946
Epoch 129/200
891/891 [==============================] - 0s 244us/sample - loss: 0.5017 - accuracy: 0.7969
Epoch 130/200
891/891 [==============================] - 0s 234us/sample - loss: 0.4997 - accuracy: 0.7969
Epoch 131/200
891/891 [==============================] - 0s 239us/sample - loss: 0.4961 - accuracy: 0.7980
Epoch 132/200
891/891 [==============================] - 0s 242us/sample - loss: 0.4975 - accuracy: 0.7957
Epoch 133/200
891/891 [==============================] - 0s 220us/sample - loss: 0.4962 - accuracy: 0.7969
Epoch 134/200
891/891 [==============================] - 0s 256us/sample - loss: 0.4993 - accuracy: 0.7969
Epoch 135/200
891/891 [==============================] - 0s 228us/sample - loss: 0.4986 - accuracy: 0.7957
Epoch 136/200
891/891 [==============================] - 0s 231us/sample - loss: 0.4955 - accuracy: 0.7912
Epoch 137/200
891/891 [==============================] - 0s 226us/sample - loss: 0.5013 - accuracy: 0.7969
Epoch 138/200
891/891 [==============================] - 0s 229us/sample - loss: 0.4965 - accuracy: 0.7969
Epoch 139/200
891/891 [==============================] - 0s 226us/sample - loss: 0.4997 - accuracy: 0.7969
Epoch 140/200
891/891 [==============================] - 0s 252us/sample - loss: 0.4951 - accuracy: 0.7957
Epoch 141/200
891/891 [==============================] - 0s 247us/sample - loss: 0.4958 - accuracy: 0.7969
Epoch 142/200
891/891 [==============================] - 0s 232us/sample - loss: 0.4980 - accuracy: 0.7957
Epoch 143/200
891/891 [==============================] - 0s 227us/sample - loss: 0.5021 - accuracy: 0.7980
Epoch 144/200
891/891 [==============================] - 0s 220us/sample - loss: 0.4940 - accuracy: 0.7969
Epoch 145/200
891/891 [==============================] - 0s 236us/sample - loss: 0.5015 - accuracy: 0.7969
Epoch 146/200
891/891 [==============================] - 0s 228us/sample - loss: 0.4971 - accuracy: 0.7957
Epoch 147/200
891/891 [==============================] - 0s 250us/sample - loss: 0.5023 - accuracy: 0.7969
Epoch 148/200
891/891 [==============================] - 0s 242us/sample - loss: 0.5063 - accuracy: 0.7957
Epoch 149/200
891/891 [==============================] - 0s 261us/sample - loss: 0.4972 - accuracy: 0.7980
Epoch 150/200
891/891 [==============================] - 0s 222us/sample - loss: 0.4965 - accuracy: 0.7957
Epoch 151/200
891/891 [==============================] - 0s 230us/sample - loss: 0.4966 - accuracy: 0.7969
Epoch 152/200
891/891 [==============================] - 0s 235us/sample - loss: 0.4987 - accuracy: 0.7969
Epoch 153/200
891/891 [==============================] - 0s 243us/sample - loss: 0.4981 - accuracy: 0.7991
Epoch 154/200
891/891 [==============================] - 0s 247us/sample - loss: 0.4951 - accuracy: 0.7969
Epoch 155/200
891/891 [==============================] - 0s 243us/sample - loss: 0.5016 - accuracy: 0.7957
Epoch 156/200
891/891 [==============================] - 0s 238us/sample - loss: 0.5116 - accuracy: 0.7991
Epoch 157/200
891/891 [==============================] - 0s 218us/sample - loss: 0.5085 - accuracy: 0.7924
Epoch 158/200
891/891 [==============================] - 0s 217us/sample - loss: 0.4987 - accuracy: 0.7969
Epoch 159/200
891/891 [==============================] - 0s 224us/sample - loss: 0.4984 - accuracy: 0.7969
Epoch 160/200
891/891 [==============================] - 0s 241us/sample - loss: 0.5000 - accuracy: 0.7980
Epoch 161/200
891/891 [==============================] - 0s 249us/sample - loss: 0.5036 - accuracy: 0.7980
Epoch 162/200
891/891 [==============================] - 0s 225us/sample - loss: 0.4951 - accuracy: 0.7957
Epoch 163/200
891/891 [==============================] - 0s 229us/sample - loss: 0.5003 - accuracy: 0.7980
Epoch 164/200
891/891 [==============================] - 0s 221us/sample - loss: 0.4958 - accuracy: 0.7969
Epoch 165/200
891/891 [==============================] - 0s 227us/sample - loss: 0.5101 - accuracy: 0.7969
Epoch 166/200
891/891 [==============================] - 0s 223us/sample - loss: 0.4944 - accuracy: 0.7969
Epoch 167/200
891/891 [==============================] - 0s 253us/sample - loss: 0.4998 - accuracy: 0.7969
Epoch 168/200
891/891 [==============================] - 0s 236us/sample - loss: 0.5014 - accuracy: 0.7969
Epoch 169/200
891/891 [==============================] - 0s 218us/sample - loss: 0.4965 - accuracy: 0.7957
Epoch 170/200
891/891 [==============================] - 0s 204us/sample - loss: 0.4948 - accuracy: 0.7957
Epoch 171/200
891/891 [==============================] - 0s 199us/sample - loss: 0.5007 - accuracy: 0.7969
Epoch 172/200
891/891 [==============================] - 0s 201us/sample - loss: 0.4969 - accuracy: 0.7969
Epoch 173/200
891/891 [==============================] - 0s 206us/sample - loss: 0.5002 - accuracy: 0.7957
Epoch 174/200
891/891 [==============================] - 0s 205us/sample - loss: 0.4996 - accuracy: 0.7969
Epoch 175/200
891/891 [==============================] - 0s 205us/sample - loss: 0.5031 - accuracy: 0.7980
Epoch 176/200
891/891 [==============================] - 0s 213us/sample - loss: 0.4961 - accuracy: 0.7969
Epoch 177/200
891/891 [==============================] - 0s 228us/sample - loss: 0.5074 - accuracy: 0.7901
Epoch 178/200
891/891 [==============================] - 0s 251us/sample - loss: 0.5021 - accuracy: 0.7980
Epoch 179/200
891/891 [==============================] - 0s 204us/sample - loss: 0.4959 - accuracy: 0.7991
Epoch 180/200
891/891 [==============================] - 0s 214us/sample - loss: 0.4958 - accuracy: 0.7980
Epoch 181/200
891/891 [==============================] - 0s 221us/sample - loss: 0.4899 - accuracy: 0.8002
Epoch 182/200
891/891 [==============================] - 0s 223us/sample - loss: 0.4946 - accuracy: 0.7946
Epoch 183/200
891/891 [==============================] - 0s 246us/sample - loss: 0.5015 - accuracy: 0.7969
Epoch 184/200
891/891 [==============================] - 0s 214us/sample - loss: 0.4949 - accuracy: 0.7980
Epoch 185/200
891/891 [==============================] - 0s 202us/sample - loss: 0.4939 - accuracy: 0.7957
Epoch 186/200
891/891 [==============================] - 0s 213us/sample - loss: 0.4970 - accuracy: 0.8002
Epoch 187/200
891/891 [==============================] - 0s 212us/sample - loss: 0.4977 - accuracy: 0.7957
Epoch 188/200

In [0]:
model.save('my_titanic_model.h5')

In [0]:
#new_model = tf.keras.models.load_model('my_model.h5')
#new model load

In [0]:
new_model = tf.keras.models.load_model('my_titanic_model.h5')

In [0]:
a = new_model.predict(test_x)

In [0]:
a

array([[0.13914894],
       [0.76934326],
       [0.14935166],
       [0.13669132],
       [0.70871884],
       [0.17080984],
       [0.7291095 ],
       [0.13634321],
       [0.6981914 ],
       [0.13458723],
       [0.13774009],
       [0.14344811],
       [0.7113167 ],
       [0.14972717],
       [0.76934326],
       [0.7139007 ],
       [0.13950305],
       [0.13458723],
       [0.7215689 ],
       [0.7648349 ],
       [0.14674458],
       [0.30665722],
       [0.7291095 ],
       [0.13458723],
       [0.7715746 ],
       [0.14490557],
       [0.70871884],
       [0.1349387 ],
       [0.14164348],
       [0.13774009],
       [0.14490557],
       [0.135644  ],
       [0.7365205 ],
       [0.7291095 ],
       [0.13774009],
       [0.1352573 ],
       [0.7291095 ],
       [0.7061074 ],
       [0.13599592],
       [0.13774009],
       [0.14092699],
       [0.13774009],
       [0.14164348],
       [0.7291095 ],
       [0.7648349 ],
       [0.13599592],
       [0.14308563],
       [0.13774009],
       [0.7905728 ],
       [0.7438001 ],
       [0.13564402],
       [0.13669132],
       [0.70348215],
       [0.7240967 ],
       [0.13774009],
       [0.27498528],
       [0.13950305],
       [0.13599592],
       [0.13774009],
       [0.7438001 ],
       [0.13642327],
       [0.13844302],
       [0.13525732],
       [0.70871884],
       [0.19328225],
       [0.7291095 ],
       [0.6981914 ],
       [0.14381137],
       [0.13809116],
       [0.7905728 ],
       [0.7139007 ],
       [0.13458723],
       [0.72661024],
       [0.13704018],
       [0.7413883 ],
       [0.13844302],
       [0.13774009],
       [0.78676695],
       [0.13774009],
       [0.7139007 ],
       [0.4191339 ],
       [0.15123717],
       [0.14454001],
       [0.13774009],
       [0.13774009],
       [0.13774009],
       [0.7215689 ],
       [0.6981914 ],
       [0.7291095 ],
       [0.57880205],
       [0.70871884],
       [0.13774009],
       [0.7215689 ],
       [0.13774009],
       [0.13599592],
       [0.13599592],
       [0.79829174],
       [0.13738976],
       [0.70348215],
       [0.13879564],
       [0.7602656 ],
       [0.13669132],
       [0.13774009],
       [0.13634321],
       [0.6928473 ],
       [0.13704018],
       [0.13458723],
       [0.13774009],
       [0.13774009],
       [0.1352573 ],
       [0.14164348],
       [0.7291095 ],
       [0.7438001 ],
       [0.6981914 ],
       [0.7920357 ],
       [0.1352573 ],
       [0.13774009],
       [0.998946  ],
       [0.13985789],
       [0.72661024],
       [0.68196726],
       [0.13774009],
       [0.7413883 ],
       [0.13704018],
       [0.13774009],
       [0.695526  ],
       [0.1349387 ],
       [0.7291095 ],
       [0.14200291],
       [0.13564402],
       [0.13844302],
       [0.14600663],
       [0.7291095 ],
       [0.13774009],
       [0.14236307],
       [0.13564402],
       [0.13634321],
       [0.13634321],
       [0.7113167 ],
       [0.14128484],
       [0.6764432 ],
       [0.7365205 ],
       [0.14897694],
       [0.13704018],
       [0.14200291],
       [0.13809116],
       [0.13774009],
       [0.1349387 ],
       [0.13774009],
       [0.13774009],
       [0.7113167 ],
       [0.13774009],
       [0.14860293],
       [0.7438001 ],
       [0.19328225],
       [0.13564402],
       [0.72661024],
       [0.7113167 ],
       [0.14200296],
       [0.71902686],
       [0.7291095 ],
       [0.37920582],
       [0.71902686],
       [0.13774009],
       [0.14164348],
       [0.71902686],
       [0.14417528],
       [0.1352573 ],
       [0.7291095 ],
       [0.70871884],
       [0.13774009],
       [0.13669132],
       [0.13529095],
       [0.13774009],
       [0.14128484],
       [0.6901547 ],
       [0.70348215],
       [0.14637522],
       [0.7438001 ],
       [0.7925217 ],
       [0.13774009],
       [0.14021353],
       [0.6981914 ],
       [0.13774009],
       [0.7215689 ],
       [0.14128484],
       [0.7061074 ],
       [0.13642327],
       [0.7291095 ],
       [0.14128484],
       [0.13914895],
       [0.13774012],
       [0.24542652],
       [0.14897694],
       [0.34084663],
       [0.13879564],
       [0.4191339 ],
       [0.6981914 ],
       [0.13529095],
       [0.7291095 ],
       [0.7291095 ],
       [0.99993   ],
       [0.14381137],
       [0.6888297 ],
       [0.13599592],
       [0.13774009],
       [0.7413883 ],
       [0.13564402],
       [0.7365205 ],
       [0.13599592],
       [0.13844302],
       [0.13774009],
       [0.13642327],
       [0.7905728 ],
       [0.74857926],
       [0.14200291],
       [0.7291095 ],
       [0.14748555],
       [0.7759917 ],
       [0.13774009],
       [0.7291095 ],
       [0.13458723],
       [0.70871884],
       [0.13458723],
       [0.7825028 ],
       [0.7291095 ],
       [0.13529095],
       [0.7291095 ],
       [0.14128484],
       [0.13985789],
       [0.17080984],
       [0.7061074 ],
       [0.13458723],
       [0.13774009],
       [0.14092699],
       [0.13423648],
       [0.15010354],
       [0.13423648],
       [0.6981914 ],
       [0.7715746 ],
       [0.78676695],
       [0.7648349 ],
       [0.14308563],
       [0.13774009],
       [0.13774009],
       [0.14164348],
       [0.70871884],
       [0.14200291],
       [0.72661024],
       [0.7291095 ],
       [0.9999999 ],
       [0.13423648],
       [0.13669132],
       [0.13564402],
       [0.13844302],
       [0.13774012],
       [0.13774009],
       [0.13704018],
       [0.70084345],
       [0.13458723],
       [0.13985789],
       [0.13458723],
       [0.72661024],
       [0.998946  ],
       [0.13774009],
       [0.13774009],
       [0.13774009],
       [0.13774009],
       [0.7291095 ],
       [0.13642327],
       [0.14344811],
       [0.13774009],
       [0.71902686],
       [0.7291095 ],
       [0.13774009],
       [0.70348215],
       [0.13704018],
       [0.14128484],
       [0.13774009],
       [0.1349387 ],
       [0.7113167 ],
       [0.99993   ],
       [0.7291095 ],
       [0.67676467],
       [0.35966253],
       [0.13985789],
       [0.13774012],
       [0.135644  ],
       [0.13774009],
       [0.13774009],
       [0.13774009],
       [0.7291095 ],
       [0.13774009],
       [0.14600663],
       [0.13985789],
       [0.13634321],
       [0.998946  ],
       [0.13774009],
       [0.13774009],
       [0.13738976],
       [0.13844302],
       [0.13774009],
       [0.14236307],
       [0.13564402],
       [0.7291095 ],
       [0.7925217 ],
       [0.13774009],
       [0.99993   ],
       [0.14674458],
       [0.7648349 ],
       [0.1352573 ],
       [0.1349387 ],
       [0.13774009],
       [0.74619716],
       [0.78676695],
       [0.695526  ],
       [0.14748555],
       [0.134269  ],
       [0.13669132],
       [0.1349387 ],
       [0.13634321],
       [0.13599592],
       [0.13634321],
       [0.13879564],
       [0.7509465 ],
       [0.13529095],
       [0.68196726],
       [0.14344811],
       [0.13738976],
       [0.13458723],
       [0.7715746 ],
       [0.14092699],
       [0.13774009],
       [0.70084345],
       [0.13669132],
       [0.13774009],
       [0.13844302],
       [0.14092699],
       [0.13599592],
       [0.13774009],
       [0.1352573 ],
       [0.13844302],
       [0.13774009],
       [0.78959334],
       [0.13774009],
       [0.6928473 ],
       [0.13634321],
       [0.74857926],
       [0.13564402],
       [0.7315944 ],
       [0.7648349 ],
       [0.13599592],
       [0.1352573 ],
       [0.14454001],
       [0.9999999 ],
       [0.14490557],
       [0.7900836 ],
       [0.13774009],
       [0.13774009],
       [0.7291095 ],
       [0.17080984],
       [0.7139007 ],
       [0.7315944 ],
       [0.13669132],
       [0.71647084],
       [0.7291095 ],
       [0.13774009],
       [0.70871884],
       [0.7648349 ],
       [0.13738976],
       [0.13458723],
       [0.7315944 ],
       [0.14454001],
       [0.14272396],
       [0.7846426 ],
       [0.7648349 ],
       [0.70871884],
       [0.13458723],
       [0.14674458],
       [0.46005177],
       [0.13774009],
       [0.13634321],
       [0.7291095 ],
       [0.7008435 ],
       [0.13774009],
       [0.7139007 ],
       [0.13564402],
       [0.14748555],
       [0.13458723],
       [0.4191339 ],
       [0.13529095],
       [0.77817726],
       [0.19328225],
       [0.14381137],
       [0.13738976],
       [0.6981914 ],
       [0.13564402],
       [0.7715746 ],
       [0.1349387 ],
       [0.13809116],
       [0.7291095 ],
       [0.14056985],
       [0.70871884],
       [0.13642327],
       [0.14236307],
       [0.13423648],
       [0.13529095],
       [0.14490557],
       [0.7291095 ],
       [0.5701453 ],
       [0.7291095 ],
       [0.74619716],
       [0.7240967 ],
       [0.13774009],
       [0.7509466 ],
       [0.14056985],
       [0.13774012],
       [0.13774012]], dtype=float32)